<html>

<body>
    <div style="text-align: center; background-color: #376edc; padding: 10px;">
        <h1 style="color: white; font-weight: bold;">API Documentation Invite</h1>
    </div>
    <p><span style="color: #376edc; font-weight: bold;">Hello,</span></p>
    <p>We are excited to invite you to view our User Management API documentation on ReDoc.</p>
    <p>You can access the documentation by clicking the button below:</p>
    <div>
        <a href="http://URL/redoc"
            style="background-color: #376edc; color: white; padding: 10px 20px; text-decoration: none;">View API
            Documentation</a>
    </div>
    <p>As per the Requirements I changed that "Any" method because of Flutter.</p>
    <p>I have also set up an AWS EC2 instance for the public IP, used Reverse Proxy for port forwarding, and GCP
        Postgres for the database.</p>
    <p>We appreciate your time and look forward to your feedback.</p>
    <div style="background-color: #376edc; color: white; text-align: center; padding: 10px;">
        <p>Thank you,<br>Amit Kaushik</p>
        <p>If you have any questions, feel free to reply to this email.</p>
    </div>
</body>

</html>